body {
    font-family: "Segoe UI", system-ui, sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background-color: #131924;
    width: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: slateblue;
    border-radius: 5px;
    box-shadow: black 0 3px 1px;
}

.header-section {
    display: flex;
    background: #131924;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 3px 5px;
    animation: 1s ease-out 0s header-drop;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7px;
}

@keyframes header-drop {
    0% {top: -70px;}
    100% {top: 0;}
}

.header-title {
    background: linear-gradient(45deg, #5132ad, #42a3e4);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 35px;
    position: relative;
    margin: 5px 5px 8px 3px;
    text-shadow: rgba(255, 255, 255, 0.25) 0 0 6px;
}

.page-body {
    background-color: #1c2944;
}

.logo_image {
    background: linear-gradient(45deg, #3c2054, #5132ad);
    border-radius: 7px;
    padding: 0 3px 3px;
    width: 40px;
    height: 40px;
    margin: 5px 5px 0 1px;
    box-shadow: rgba(255, 255, 255, 0.15) 0 0 6px;
}

.faq_btn {
    margin-left: auto;
    background: transparent;
    border: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-right: 9px;
    margin-top: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 500ms;
}

.faq_btn:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 1px 2px 10px;
    .faq_image {
        width: 38px;
        height: 38px;
    }
}

.faq_image {
    background: linear-gradient(45deg, #3c2054, #5132ad);
    border-radius: 7px;
    padding: 4px 6px 4px 6px;
    width: 35px;
    height: 35px;
    box-shadow: rgba(255, 255, 255, 0.15) 0 0 6px;
    transition-duration: 500ms;
}

.url-input {
    opacity: 0;
    position: relative;
    animation: 1s ease-out 1s forwards url-input-drop;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.url-input h3{
    width: 100%;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg, #5132ad, #42a3e4);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    text-shadow: rgba(255, 255, 255, 0.25) 0 0 3px;
    font-size: 28px;
}

@keyframes url-input-drop {
    0% {
        top: -20px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 100%;
    }
}

#steam_url_input {
    font-family: "Segoe UI", system-ui, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 30vw;
    height: 24px;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
    background: #131924;
    border-color: #131021;
    filter: drop-shadow(black 0 3px 5px);
    color: lightgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    transition-duration: 500s;
}

#steam_id_input {
    font-family: "Segoe UI", system-ui, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 20vw;
    height: 24px;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
    background: #131924;
    border-color: #131021;
    filter: drop-shadow(black 0 3px 5px);
    color: lightgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    transition-duration: 500s;
}

#submit_url_btn {
    font-family: "Segoe UI", system-ui, sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
    position: relative;
    border-radius: 15px;
    background: #131924;
    border-color: #131021;
    border-style: inset;
    border-width: 2px;
    filter: drop-shadow(black 0 3px 5px);
    color: lightgray;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 11px 7px;
    cursor: pointer;
    transition-duration: 300ms;
}

#submit_url_btn:hover {
    transition-duration: 300ms;
    font-size: 15px;
}

.extra-display {
    background: linear-gradient(45deg, #5132ad, #42a3e4);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 11px;
    /*margin: auto;*/
    position: fixed;
    bottom: 0.5vw;
    left: .5vw;
    right: .5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.15) 0 0 4px;
}

#ext_display {
    opacity: 0;
    transition: opacity 250ms ease;
    user-select: none;
}

.invalid-label {
    background: linear-gradient(45deg, #b40b04, #b43922);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 11px;
    position: relative;
    margin-top: 5px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.15) 0 0 4px;
}

@keyframes show_invalid_label {
    0% {
        margin-top: -5px;
        opacity: 0;
    }
    20% {
        margin-top: 5px;
        opacity: 100%;
    }
    80% {
        margin-top: 5px;
        opacity: 100%;
    }
    100% {
        margin-top: -5px;
        opacity: 0;
    }
}

#err_url_label {
    opacity: 0;
    animation-duration: 500ms;
    transition: 250ms ease;
    user-select: none;
    animation-iteration-count: revert;
}
