<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AI Steam Recommender | FAQ</title>
        <link rel="icon" href="{%static 'images/favicon.svg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'stylesheets/faq.css' %}">
    </head>

    <body class="page-body">
        <div class="header-section">
            <div><img class="logo_image" src="{% static 'images/favicon_color.svg' %}" alt="icon"></div>
            <div><h1 class="header-title">FAQ</h1></div>
            <button onclick="window.location.href='{% url 'index' %}'" class="home_btn">
                <img class="home_image" src="{% static 'images/home_color.svg' %}" alt="home">
            </button>
        </div>

        <div class="sub1">
            <h1 class="sub1_text">AI influenced Steam <br> game recommendations</h1>
        </div>

        <button class="faq_btn">● How it works</button>
        <h3 class="faq_desc">
            Providing a valid link to a Steam profile allows this application to communicate with the Steam Web API and OpenAI API, furthermore allowing the latter to generate AI based game recommendations based on various stats from the User's profile.
        </h3>
        <button class="faq_btn">● Security Concerns</button>
        <h3 class="faq_desc">
            All API keys must be accessed through a .env file within this source directory, to ensure the security of the usage of personal API keys. Steam Web API is accessed as a wrapper through the <a href="https://github.com/ValvePython/steam" target="_blank">ValvePython</a> library.
        </h3>
        <button class="faq_btn">● Data Usage</button>
        <h3 class="faq_desc">
            Data collected is only from the Steam profile, including inventory, user stats, and game library stats. Additional information provided by the User through this application may be used for more accurate suggestions from the OpenAI API.
        </h3>
    </body>
</html>
