<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AI Steam Recommender</title>
        <link rel="icon" href="{%static 'images/favicon.svg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    </head>

    <body class="page-body">
        <div class="header-section">
            <div><img class="logo_image" src="{% static 'images/favicon_color.svg' %}" alt="icon"></div>
            <div><h1 class="header-title">Steam Recommender</h1></div>
            <button onclick="window.location.href='{% url 'faq' %}'" class="faq_btn" id="faq_btn_id">
                <img class="faq_image" src="{% static 'images/question_color.svg' %}" alt="faq">
            </button>
        </div>

        <div class="url-input">
            <h3>Enter Steam Profile URL:</h3>
            <div style="display: flex; justify-content: center">
                <input type="text" value="" id="steam_url_input">
                <button id="submit_url_btn" onclick="validate_url()">Submit</button>
            </div>
        </div>
    </body>

    <script>
        function validate_url() {
            // gets the text input
            let text = document.getElementById('steam_url_input').value.trim()
            //let valid = true

            if (text) {
                window.location.href = `?url=${encodeURIComponent(text)}`
            }

            {#if (!text.startsWith('https://steamcommunity.com/') &&#}
            {#    !text.startsWith('http://steamcommunity.com/')) {#}
            {#    return#}
            {##}
            {##}
            {#if (!text.includes("/profiles/") && !text.includes("/id/")) {#}
            {#    return#}
            {##}

            {#if (valid) {#}
            {#    window.location.href = `?url=${encodeURIComponent(text)}`#}
            {##}
        }
    </script>

</html>
