<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Steam Recommender | Profile</title>
        <link rel="icon" href="{%static 'images/favicon.svg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'stylesheets/profile_page.css' %}">
        <script src="{% static 'script/profile_page.js' %}"></script>
    </head>

    <body class="page-body">
        <div class="header-section">
            <div><img class="logo_image" src="{% static 'images/favicon_color.svg' %}" alt="icon"></div>
            <div><h1 class="header-title">Steam Profile</h1></div>
            <button onclick="window.location.href='{% url 'faq' %}'" class="faq_btn" id="faq_btn_id">
                <img class="faq_image" src="{% static 'images/question_color.svg' %}" alt="faq">
            </button>
        </div>

        <div class="user-section">
            <img class="user_avatar" src="{{ avatar_url }}" alt="user avatar">
            <div class="user-info-texts">
                <h1 class="steam_persona">{{ persona_name }}</h1>
                <h4 class="steam_id">ID: {{ steam_id }}</h4>
                <h3 class="steam_game_count">Owned Games: {% if game_count > 0 %} {{ game_count }} {% elif game_count < 0%} Private {% endif %}</h3>
            </div>
        </div>

        <div class="recently-played">
            <h2 class="recent-h2" style="border-radius: {% if recent_game_count > 0 %} 15px 15px 0 0 {% else %} 15px {% endif %}"><span>Recently Played Games: {% if game_count > 0 %} {{ recent_game_count }} {% elif game_count < 0%} Private {% endif %}</span></h2>
            <div class="recent-grid" style="opacity: {% if recent_game_count > 0 %} 100% {% else %} 0 {% endif %}">
                {% if recent_game_count > 0 %}
                    {% for entry in games_list %}
                        {% if entry.playtime_2weeks > 0 %}
                            <div class="recent-game-card">
                                <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ entry.app_id }}/library_600x900.jpg" alt="image-{{ entry.app_name }}" class="game-image" onerror="image_load_error(this)">
                                <!--img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ entry.app_id }}/{{ entry.capsule_file_name }}" alt="image" class="game-image" onerror="image_load_error({{ entry.app_name }})"-->
                                <!--img src="https://media.steampowered.com/steamcommunity/public/images/apps/{{ entry.app_id }}/{{ entry.app_capsule_hash }}.jpg" alt="image" class="game-image"-->
                                <h3 class="game-name">{{ entry.app_name }}</h3>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="owned-games-div">
            <div class="owned-header" style="border-radius: {% if game_count > 0 %} 15px 15px 0 0 {% else %} 15px {% endif %}">
                <h2 class="owned-h2"><span>Games: {% if game_count > 0 %} {{ game_count }} {% elif game_count < 0%} Private {% endif %}</span></h2>
                <h2 class="owned-sort-h2" style="display: {% if game_count > 0 %} block {% else %} none {% endif %}"><span>Sort by:</span></h2>
                <button class="sorting-btn" style="display: {% if game_count > 0 %} block {% else %} none {% endif %}" onclick="sortBy('name')"><span>Name</span></button>
                <button class="sorting-btn" style="display: {% if game_count > 0 %} block {% else %} none {% endif %}" onclick="sortBy('playtime')" id="playtime-btn"><span>Playtime (Descending)</span></button>
            </div>
            <!--h2 class="owned-h2" style="border-radius: {% if game_count > 0 %} 15px 15px 0 0 {% else %} 15px {% endif %}"><span>Games: {% if game_count > 0 %} {{ game_count }} {% elif game_count < 0%} Private {% endif %}</span></h2-->

            <div class="owned-grid" id="owned-grid-id" style="opacity: {% if game_count > 0 %} 100% {% else %} 0 {% endif %}">
                {% if game_count > 0 %}
                    {% for entry in games_list %}
                        <div class="owned-game-card" style="display: none;">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ entry.app_id }}/library_600x900.jpg" alt="image-{{ entry.app_name }}" class="game-image" onerror="image_load_error(this)">
                            <!--img src="https://media.steampowered.com/steamcommunity/public/images/apps/{{ entry.app_id }}/{{ entry.app_capsule_hash }}.jpg" alt="image" class="game-image"-->
                            <h3 class="game-name">{{ entry.app_name }}</h3>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <button class="owned-display-btn" onclick="expand()"><span>Display More Games</span></button>

        <div class="ai-summary-info" style="display: {% if openai_key_found > 0 %} block {% else %} none {% endif %}">
            <h2 class="ai-summary-h2">AI Summary</h2>
        </div>

        <div class="ai-chat-container" style="display: {% if openai_key_found > 0 %} block {% else %} none {% endif %}">

        </div>

    </body>

    <footer></footer>
</html>
